<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.cover.photo.editor.back.maker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--    <uses-permission android:name="android.permission.CAMERA" />-->
    <!--    <uses-feature android:name="android.hardware.camera.external" />-->
    <!--    <uses-feature android:name="android.hardware.camera.autofocus" />-->
    <!--    <uses-feature android:name="android.hardware.camera" />-->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:supportsRtl="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.Usefull.jewellery_activity" />
        <activity android:name=".activity.Usefull.Select_region" />
        <activity
            android:name=".activity.Usefull.Mug_images_category_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing_modules.dimension_kajal_maulik.activity.Mug_MainActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.Usefull.fancy_mobile_cover" />
        <activity
            android:name=".activity.Usefull.FinalScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Zoom_view_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.mall_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Testing.mobile_cover_college_frame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Testing.Testing_multiple_image_cover"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Testing.testing_json"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.Testing.paypal_demo_response"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Testing.testing_webview"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.Usefull.bulk_order_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.mall_filter_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.mall.MallSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Mall_wishlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.finished_activity"
            android:screenOrientation="portrait"
            android:theme="@style/ExitingAppSplashTheme" />
        <activity
            android:name=".activity.Usefull.mall_seller_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.mall.mall_detail_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.mall.mall_category_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".activity.Testing.OnboardingWithCenterAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="printphoto.in"
                    android:pathPrefix="/test"
                    android:scheme="https" />

                <data
                    android:host="printphoto.in"
                    android:pathPrefix="/home"
                    android:scheme="applinks" />

            </intent-filter>

        </activity>
        <activity
            android:name=".aaNewUpdate.newoffers.OffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.complaints.Complain_ticket_system"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Phone_ModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Multiplegallery.Gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Multiplegallery.OpenGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Drag_recyclerview.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_UMRhd1BbuPUIjV" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <activity
            android:name=".aaNewUpdate.HomeMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.FontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.StickerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.CaseEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Un_Usefull_Old.CaseEditActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Custom_CaseEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.RegistrationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Usefull.EditRegDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.checkout.PlaceOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.CoffeeMugEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".aaNewUpdate.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.SellerRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Paymentintegration.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Paymentintegration.SmsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".Paymentintegration.StatusActivity"
            android:exported="true"
            android:label="@string/title_activity_status"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.mobile.cover.photo.editor.back.maker" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Usefull.OfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.auth.PhoneAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.activity.ModelListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.ForgetpasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.ComplainChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.SellerWalletActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Alarm_notification.CAlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Usefull.FacebookAlbumPhotoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.Usefull.FaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Usefull.FaceActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Un_Usefull_Old.CropImageActivity1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Usefull.AlbumImagesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".activity.Usefull.FaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Multiple_StickerActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" /> <!-- Will not be called unless the application explicitly enables it -->
        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/FACEBOOK_APP_ID" /> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name=".activity.Usefull.Default_image_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Images_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Contactus_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Track_web_view_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.VideoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.Usefull.Seller_transaction_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Seller_policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Testing.Default_testing_image_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Testing.Default_testing_image_activity_final_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Preview_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Dynamic_EditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Background_image_activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pagination.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.Testing.testing_case_image_activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Usefull.Feedback_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.test_frame_editing_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Display_address_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.New_address_save_update_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.checkout.SelectAddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.Testing.Testing_paypal_demo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.Usefull.Tshirt_Editing_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.Tshirt_category_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Usefull.frame_Dynamic_EditActivity"
            android:screenOrientation="portrait" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/app_id" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".testing_modules.PhotoPickupImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing_modules.dimension_kajal_maulik.activity.Custom_CaseEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing_modules.dimension_kajal_maulik.activity.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing_modules.dimension_kajal_maulik.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity
            android:name=".activity.Usefull.testing_CaseEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaNewUpdate.sipper.ShipperCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing_modules.dimension_kajal_maulik.activity.Shipper_MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.mobile.cover.photo.editor.back.maker.aaNewUpdate.deeplinks.ProductActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="printphoto.in"
                    android:pathPrefix="/test"
                    android:scheme="https" />
                <data
                    android:host="printphoto.in"
                    android:pathPrefix="/test"
                    android:scheme="applinks" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="3N4Mt8SNhOzkQnGb9oHsRRG1ItybcZDpJWN1fVAHLdRagxP-_k_ZXVaMAdMe5Otsmp6qJSXskfsrtakfRmPAGW" />
<!--        <meta-data android:name="com.facebook.sdk.ClientToken"-->
<!--            android:value="121yu23y3u21"/>-->
    </application>

</manifest>